
<body>
  <h1>TEACHER NEEDS</h1>

  <h2>
    <%= link_to("List of Teachers", teachers_path) %>
    <br>
    <%= link_to("List of Teachers' Needs", teacher_needs_path) %>
    <br>
  </h2>
</body>
